/*Flexbox*/

.flex {
	display: flex;
}

// align items
.aifs {
	align-items: flex-start;
}

.aic {
	align-items: center;
}

.aife {
	align-items: flex-end;
}

// end align items

// justify contents
.jcfs {
	justify-content: flex-start;
}

.jcc {
	justify-content: center;
}

.jcfe {
	justify-content: flex-end;
}

.jcsb {
	justify-content: space-between;
}

.jcsa {
	justify-content: space-around;
}
// end justify contents

// combines
.faic {
	@extend .flex;
	@extend .aic;
}

.faicjcc {
	@extend .faic;
	@extend .jcc;
}
