// dropdown menu

.dropdown {
	position: relative;

	.menu {
		background-color: #fff;
		border: 1px solid #eee;
		box-shadow: 0 5px 7px #eee;
		min-width: 150px;
		border-radius: 3px;
		position: absolute;

		.link {
			display: block;
			text-decoration: none;
			padding: 5px 15px;
			font-size: 14px;

			&:hover {
				background-color: #f7f7f7;
			}
		}
	}
}

