/*Navbar*/

.navbar {
	background-color: #f7f7f7;
	min-height: 50px;
	@extend .flex, .aic;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
	
	// navbar children
	> .wrapper {
		@extend .faic;
		flex-wrap: wrap;
		padding: 0px 15px;
		width: 100%;

		@include sm-scr {
			justify-content: space-between;
		}
	}
	//toggler
	.toggler {
		@extend .faicjcc;
		padding: 5px;
		width: 54px;
		height: 40px;
		border: 1px solid #ccc;
		border-radius: 3px;
		cursor: pointer;

		> .icon {
			font-size: 19px;
			color: #444;
		}

		@include md-scr {
			display: none;
		}
	}

	// end navbar children

}

.brand {
	font-size: 18.7px;
	font-weight: 600;
	text-decoration: none;
	color: #333;
	margin-right: 1em;

	&:hover {
		color: #666;
	}

	@include md-scr {
		margin-right: 2rem;
	}
}

.nav {
	margin: 0;
	padding: 7px 0;
	list-style: none;
	@extend .flex;
	flex-flow: row nowrap;
	
	.link {
		font-size: 14px;
		color: #555;
		text-decoration: none;
		font-weight: 500;
		padding: 0 0.5em;

		&:hover {
			color: #777;
		}

		@include sm-scr {
			display: block;
			padding: 7px 15px;
		}
	}

	@include sm-scr {
		width: 100%;
		flex-direction: column;

		.dropdown {
			width: 100%;
			.menu {
				position: relative;
				background-color: #f7f7f7;
				border: unset;
				box-shadow: unset;
				width: 100%;
				border-radius: 0;
			}
		}
	}
}

// navbar collapse
.nav-collapse {
	@extend .flex;
	width: 100%;
	flex-grow: 1;
	margin: 0 -15px;

	@include sm-scr {
		margin-top: 10px;
	}
	@include md-scr {
		width: auto;
	}
}
























